{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<div class="container">
    <div class="card text-center">
        <div class="card-header">
        Profile
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ userprofile.username }}</h5>
            <p class="card-text">Email: {{ userprofile.email }}</p>
            {% if request.user != userprofile%}
            <button class="btn btn-{{color}}" onclick="handleFollowBtn(event, {{userprofile.id}})">{{text}}</button>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Followers: <strong id="followers_count">{{ userprofile.user_following.count }}</strong>
            <br>
            Following: <strong >{{ userprofile.user_followers.count }}</strong>
        </div>
    </div>
</div>
{% for post in user_posts %}
    <div class="jumbotron bg-light">
        <a href="{% url 'profile' post.user.id %}"><h6 class="display-6">{{ post.user.username }}</h6></a>
        <p class="lead">{{post.post}}</p>
        <hr class="my-4">
        <p>{{ post.time }}</p>
        <p class="lead">
          {% if user.is_authenticated %}
            {% if request.user in post.likers.all %}
              <button id="likeBtn" class="btn btn-primary " onclick="handelLikeBtn(event,{{post.id}})">Unlike</button>
            {% else %}
            <button id="likeBtn" class="btn btn-secondary " onclick="handelLikeBtn(event,{{post.id}})">Like</button>
            {% endif %}
            <strong id="likes_count">{{ post.likers.all.count }}</strong>
          {% endif %}
        </p>
        
      </div>
    {% endfor %}
  {% endblock %}
  {% block script %}
  {% csrf_token %}
  <script src="{% static 'network/js/profile.js' %}"></script>
  <script src="{% static 'network/js/index.js' %}"></script>
  {% endblock %}
